@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav{
    background-color: rgb(19, 5, 44);
    color: white;
    height: 65px;
    font: 27px;
    display: flex;
    align-items: center;
    padding: 0 12px;
}

nav ul{
    list-style: none;
}

.gameContainer{
    background-color: rgb(185, 28, 75);
    display: flex;
    justify-content:center;
    margin-top: 50px;
}

.container{
    display:grid;
    position: relative;
    grid-template-columns: repeat(3, 10vw);
    grid-template-rows: repeat(3, 10vw);
}

.box{
    border: 2px solid black;
    font-size: 8vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:hover{
    background-color: rgb(199, 99, 129);
}

.imgbox img{
    width: 0;
    transition: width 1s ease-in-out;
}

.info{
    font-size: 25px;
}

.br-0{
    border-right: 0;
}

.bl-0{
    border-left: 0;
}

.bt-0{
    border-top: 0;
}

.bb-0{
    border-bottom: 0;
}

#reset{
    margin-right: 60px;
    margin-left: 60px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    background-color: rgba(255, 0, 64, 0.342);
    font: bolder;
    font-size: 15px;
    cursor: pointer;
}

.line{
    background-color: black;
    height: 3px;
    width: 0;
    position: absolute;
    transition:width 1s ease-in-out;
}

@media screen and (max-width: 950px) {
    .gameContainer{
        flex-wrap: wrap;
    }
    .gameInfo{
        margin-top: 34px;
    }
    .gameInfo h1{
        font-size:1.5rem;
    }
    .container{
        grid-template-columns: repeat(3, 20vw);
        grid-template-rows: repeat(3, 20vw);
    }
}